## Weather Observation Station 5

Query the two cities in STATION with the shortest and longest CITY names, as well as their respective lengths (i.e.: number of characters in the name). If there is more than one smallest or largest city, choose the one that comes first when ordered alphabetically.
The STATION table is described as follows:
![table](images/table.png)

where LAT_N is the northern latitude and LONG_W is the western longitude.

Sample Input
For example, CITY has four entries: DEF, ABC, PQRS and WXY.

Sample Output:
![sample_Output](images/sample_station_5.png)

Explanation:
When ordered alphabetically, the CITY names are listed as ABC, DEF, PQRS, and WXY, with lengths  and . The longest name is PQRS, but there are  options for shortest named city. Choose ABC, because it comes first alphabetically.

Note:
You can write two separate queries to get the desired output. It need not be a single query.

### My solution

In [ ]:
SELECT city, char_length(city) AS city_len
FROM station
ORDER BY city_len ASC, city ASC
LIMIT 1;

SELECT city, char_length(city) AS city_len
FROM station
ORDER BY city_len DESC, city DESC
LIMIT 1;

![actual_Output](images/station_5.png)

## Weather Observation Station 6

Query the list of CITY names starting with vowels (i.e., a, e, i, o, or u) from STATION. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT city
FROM station
WHERE LOWER(LEFT(city,1)) IN ("a", "e", "i", "o", "u");

![actual_solution2](images/station_6.png)

## Weather Observation Station 7

Query the list of CITY names ending with vowels (a, e, i, o, u) from STATION. Your result cannot contain duplicates.

In [ ]:
SELECT DISTINCT city
FROM station
WHERE LOWER(RIGHT(city,1)) IN ("a", "e", "i", "o", "u");

![actual_solution3](images/station_7.png)